<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.xml.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.model.Employee" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="NAME" property="name" jdbcType="VARCHAR" />
    <id column="JOINING_DATE" property="joiningDate" jdbcType="TIMESTAMP" />
    <id column="SALARY" property="salary" jdbcType="INTEGER" />
    <id column="SSN" property="ssn" jdbcType="VARCHAR" />
  </resultMap>
  
	<sql id="cols">
		id,NAME,JOINING_DATE,SALARY,SSN
	</sql>
	
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="cols" />
		from employee
	</select>
	
	<select id="findAllById" resultMap="BaseResultMap"  parameterType="int">
		select
		<include refid="cols" />
		from employee 
		where id = #{id,jdbcType=INTEGER}
	</select>
</mapper>