<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WordsMapper">
  <resultMap id="BaseResultMap" type="Words" >

    <id column="word" property="word" jdbcType="VARCHAR" />
    <id column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  
	<sql id="cols">
		word,count
	</sql>
	
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="cols" />
		from words
	</select>
	
</mapper>